.photo-container {
    height: 90%;
    overflow: scroll;
    padding-bottom: 60px;
  }
  
  /* Hide scrollbar for webkit browsers */
  .photo-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  /* Hide scrollbar for Firefox */
  .photo-container {
    scrollbar-width: none;
  }

  .frame {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); /* shadow on all sides */
    margin-top: 10px;
  }

  .timer-container {
    display: flex;
    align-items: right;

  }
  .timer-text {
    text-align: right;
    height: 30px;
    padding-top: 3px;
    padding-right: 25px;
    font-weight: 800;
    color: white;
    width: 100%;
    background-color: #DD5353;
  }

  .meeting-my-old-time {
    margin-right: 25px;
    margin-left: 15px;
  }